:root {
  --color-white: #ffffff;
  --color-black: #111111;
  --color-text: #252525;
  --color-text-secondary: #707070;

  --color-primary: #53dc79;
  --color-secondary: #4dbfe8;

  --container-width: 1320px;
  --container-padding: 20px;

  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 24px;

  --transition: 0.25s ease;
}